*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$boxBorder: #e40266;

body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FEBE07;
  background-color: #333333;
}

header {
  margin: auto;
  width: 80%;
}

h1 {
  color: #E40266;
}

h2 {
  color: #E40266;
}

.hr {
  height: 2px;
  width: 90%;
  background-color: $boxBorder;
  margin: 10px 0 50px 0;
}

div#progression {
  width: 80%;
}

div.chord-wrapper {
  display: inline-block;
  padding-bottom: 20px;
}

div.chord {
	display: inline-block;
	padding: 20px 20px 10px 20px;
	border: solid $boxBorder 2px;
	border-radius: 10px;
	margin: 5px;
}

ul.notes-list {
	list-style-type: none;
	height: 100px;
	position: relative;
}

ul.notes-list li {
	position: relative;
	bottom: 0;
  color: #00ff00;
}

input.note-input {
  border: 1px #444444 solid;
  border-radius: 2px;
	height: 2em;
  background-color: #666666;
}

.play-buttons {
  text-align: center;
  color: orange;
  font-size: 0.9em;
  margin-top: 4px;
}

.play-buttons a {
  border: #febe07 solid 1px;
  margin: 0px 4px 0px 4px;
  padding: 2px;
  position: relative;
  bottom: 0px;
}

#add-chord {
  display: inline-block;
  position: relative;
  bottom: 100px;
  border: #febe07 solid 1px;
  padding: 2px;
  text-align: center;
  margin-right: 5px;
}

.form-wrapper {
  border: solid 2px $boxBorder;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  width: 66%;
}

.form-wrapper input {
  height: 30px;
  width: 66%;
  float: right;
  margin: 0 100px 0 0;
  border: 0px;
  border-radius: 5px;
}

#signup-form p {
  padding: 10px 0 0 10px;
}

#submit-buttons {
  margin: 30px 0 20px 200px;
}

.submit {
  height: 30px;
  border: 0;
  border-radius: 5px;
  padding: 0 20px 0 20px;
}

