*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	padding: 5px;
}

div.chord {
	display: inline-block;
	padding: 20px 20px 10px 20px;
	border: solid black 2px;
	border-radius: 10px;
	margin: 5px;
}

ul.notes-list {
	list-style-type: none;
	height: 100px;
	position: relative;
}

ul.notes-list li {
	position: relative;
	bottom: 0;
}

input.note-input {
	border-radius: 2px;
	height: 1.5em;
}

a {
  color: #00B7FF;
}