<div class="form-wrapper" id="login-form">
	<form ng-controller="LoginController" ng-submit="login(loginUsername, loginPassword)">
		<h2>Log in</h2>
		<div class="hr">&nbsp;</div>
			<p>
				<label for="username">Username:</label>
				<input type="text" id="username" name="username" ng-model="loginUsername" ng-placeholder = "phLoginUsername" required>
			</p>
			<p>
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" ng-model="loginPassword" ng-placeholder="phLoginPassword" required>
			</p>
		<p>
			<button type="submit" class="submit-button">Submit</button>
		</p>
	</form>
</div>
