<!DOCTYPE html>
<html lang="en" ng-app="lantana">
<head>
	<title>Log in to Lantana.</title>

	<!-- for using CDN
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script> -->

	<script src="../angular/angular.min.js"></script>
	<script src="../angular/lantana.js"></script>
	<script>
		app.value('hotKeysOn', false);
	</script>
	<link href="../css/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<h1>Lantana</h1>
		<div class="hr">&nbsp;</div>
	</header>
	<div class = "form-wrapper">
		<form id = "signup-form" ng-controller="SignupController" ng-submit="newUser(username, password, email)">
			<h2>Create an Account</h2>
			<div class="hr">&nbsp;</div>
			<p>
				<label for="username">Username:</label><input type="text" id="username" name="username" ng-model="username" ng-blur="doesUserExist(username)" ng-placeholder="ph" required>
			</p>
			<p>
				<label for="password">Password:</label><input type="password" id="password" name="password" ng-model="password" required>
			</p>
			<p>
				<label for="confirm-pw" >Confirm password:</label><input type="password" id="confirm-pw" name="confirmPassword" ng-model="confirmPassword">
			</p>
			<p>
				<label for="email">Email:</label><input type="email" id="email" name="email" ng-model="email">
			</p>
			<p>
				<label for="confirm-em">Confirm email:</label><input type="email" id="confirm-em" name="confirmEmail" ng-model="confirmEmail">
			</p>
			<p>
				<button type="submit" class="submit-button" ng-model="submit">Submit</button>
			</p>
		</form>
	<div>
</body>
</html>
